
function configure_vnics {
  # Configure second vNIC
  scriptsource="https://raw.githubusercontent.com/oracle/terraform-examples/master/examples/oci/connect_vcns_using_multiple_vnics/scripts/secondary_vnic_all_configure.sh"
  vnicscript=/root/secondary_vnic_all_configure.sh
  curl -s $scriptsource > $vnicscript
  chmod +x $vnicscript
  cat > /etc/systemd/system/secondnic.service << EOF
[Unit]
Description=Script to configure a secondary vNIC

[Service]
Type=oneshot
ExecStart=$vnicscript -c
ExecStop=$vnicscript -d
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

EOF

  systemctl enable secondnic.service
  systemctl start secondnic.service
  sleep 10s
  vnic_cnt=`/root/secondary_vnic_all_configure.sh | grep "ocid1.vnic." | grep " UP " | wc -l` ;
  RC=1
  interface=""
  while ( [ $vnic_cnt -le 1 ] || [ $RC -ne 0 ] )
  do
    systemctl restart secondnic.service
    echo "sleep 10s"
    sleep 10s
    privateIp=`curl -s http://169.254.169.254/opc/v1/vnics/ | jq '.[1].privateIp ' | sed 's/"//g' ` ; echo $privateIp
    interface=`ip addr | grep -B2 $privateIp | grep "BROADCAST" | gawk -F ":" ' { print $2 } ' | sed -e 's/^[ \t]*//'` ; echo $interface
    if [ -z $interface ]; then
      # repeat loop
      RC=1
    else
      RC=0
    fi
    vnic_cnt=`/root/secondary_vnic_all_configure.sh | grep "ocid1.vnic." | grep " UP " | wc -l` ;
  done

}

# start of script
if [ "{{ storage_server_dual_nics }}" = "true" ]; then
  configure_vnics
else
  # single nic/vnic only.
  echo "server is a single NIC node or HPC node"
fi

# TODO:  We are not doing anything,  we should remove after evaluating why it was added initially.
if [ "{{ fs_ha }}" = "true" ]; then
  if [ "{{ storage_server_dual_nics }}" = "true" ]; then
    vnicId=`curl -s http://169.254.169.254/opc/v1/vnics/ | jq '.[1].vnicId' | sed 's/"//g' ` ; echo $vnicId
    nfs_server_ip="{{ nfs_server_ip }}"
    #/root/secondary_vnic_all_configure.sh -c -e $nfs_server_ip $vnicId
  else
    vnicId=`curl -s http://169.254.169.254/opc/v1/vnics/ | jq '.[0].vnicId' | sed 's/"//g' ` ; echo $vnicId
    nfs_server_ip="{{ nfs_server_ip }}"
    #/root/secondary_vnic_all_configure.sh -c -e $nfs_server_ip $vnicId
  fi
else
  echo "non-HA setup"
fi

