# tasks/hosts.yml

- hosts: all 
  become: true
  pre_tasks:
   - setup:
      gather_subset:
        - '!all'
        - '!any'
        - 'network'
  roles:
    - oci-cloud-agent
    - firewalld
    - ssh
    - boot-volume

- hosts: storage
  gather_facts: True
  become: true
  tasks:
  - name: Update oci-hostname
    ansible.builtin.include_role:
      name: oci-hostname

- import_playbook: nfs.yml
  when:
    - fs_name == "NFS"

- import_playbook: grafana.yml
  when: install_monitor_agent|bool